{% macro render_blog_post(post, from_index=false) %}

<div class="row row-cols-auto p-3">
  <div class="col">
    <h1>{{ post.title }}</h1>
  </div>
</div>
<div class="row p-3">
  <div class="col">
    {{ post.body }}
  </div>
</div>
<!-- 
<div class="row p-3">
  <div class="col">    
    <div class="d-grid gap-1" >
      {% if from_index %}
      <a href="{{ post|url }}" role="button"  style="text-align: left !important;">
        <h4>
          {{ post.title }}
        </h4>
        <small class="text-muted">
          written by {{ post.author }}
          on {{ post.pub_date }}
        </small>
        {{ post.body }}
      </a>

      {% else %}
      <a href="#" role="button" style="text-align: left !important;">
        <h4>
          {{ post.title }}
        </h4>
        <small class="text-muted">
          written by {{ post.author }}
          on {{ post.pub_date }}
        </small>
        {{ post.body }}
      </a>
      {% endif %}
    </div>
  </div>
</div> -->
{% endmacro %}

