{% macro render_pagination(pagination, endpoint) %}
<div class="container">
</br>
  <div>
    <ul class="pagination">
      {% if pagination.has_prev %}
        <li class="page-item">
          <a class="page-link" href="{{ pagination.prev|url }}">&laquo; Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo; Previous</a>
        </li>
      {% endif %}

       <!-- all page numbers -->
      {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
        {% if page_num != pagination.page %}
        <li class="page-item">
          <a class="page-link" href="{{ pagination.for_page(page_num)|url }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">{{ page_num }}</a>
        </li>
      {% endif %}
      {% else %}
        <li class="page-item disabled">
	        <a class="page-link" href="…">…</a>	  
        </li>
       {% endif %}
      {% endfor %}
      {% if pagination.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ pagination.next|url }}">Next &raquo;</a>
      </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next &raquo;</a>
        </li>
      {% endif %}
      </ul>
  </div>
</div>
{% endmacro %}

