<!-- <div class="bs-component">
  <div>
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div> -->
{% macro render_pagination(pagination) %}

<div class="bs-component">
  <div>

    <ul class="pagination">
      {% if pagination.has_prev %}
        <li class="page-item">
          <a class="page-link" href="{{ pagination.prev|url }}">&laquo; Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo; Previous</a>
        </li>
        <!-- <a class="disabled">&laquo; Previous</a> -->
      {% endif %}

      <!-- | <strong>{{ pagination.page }}</strong> | -->
      <li class="page-item">
        <a class="page-link" href="#"> {{ pagination.page }}</a>
      </li>

      {% if pagination.has_next %}
s       <li class="page-item">
          <a class="page-link" href="{{ pagination.next|url }}">Next &raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next &raquo;</a>
        </li>
      {% endif %}
      </ul>

  </div>
</div>
{% endmacro %}

