{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}

{% block body %}

  <div class="row row-cols-auto p-3">
    <div class="col">
      <h1>{{ this.title }}</h1>
    </div> 
  </div>
  <div class="row p-3">
    <div class="col">
      {{ this.body }}
    </div>
  </div>

  {% set siblings = this.get_siblings() %}
  {% set older = siblings.next_page %}
  {% set newer = siblings.prev_page %}
  <div class="row p-3 text-center">
    {% if older %}
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary">
      <a href="{{ older|url }}" class="nav-link">&laquo; Previous: {{ older.title }}</a>
    </button>
    </div>
    {% endif %}
    {% if newer %}
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary">
        <a href="{{ newer|url }}" class="nav-link"> Next: {{ newer.title }} &raquo;</a>
    </button>
    {% endif %}
  </div>
{% endblock %}  