{% extends "blog-layout.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}{{ this.title }}{% endblock %}
  {% block blog_body %}
  {% for post in this.pagination.items %}

  <div class="row pb-3">
    <div class="col sm-8">
      <div class="d-grid gap-1" >
        <a class="btn btn-dark" href="{{ post|url }}" role="button"  style="text-align: left !important;">
          <h3>
            {{ post.title }}
          </h3>
          <p class="text-muted">
            {{ post.summary }}
          </p>
          <small class="text-muted">
            written by {{ post.author }}
            on {{ post.pub_date|dateformat }}
          </small>
        </a>
      </div>
    </div>
  </div>

  {% endfor %}

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}